#profile {
    padding: 20px;
    border-radius: 20px;
    background: rgba(175, 175, 175, 0.1);
    height: auto;
    color: rgb(235, 235, 235);
}

h1 {
    display: inline-block;
}
.profile-info {
    width: 400px;
    padding: 20px;
}

form {
    width: 400px;
    padding: 20px;
}

fieldset {
    background: rgba(109, 109, 109, 0.1);
    border: 1px solid rgba(53, 53, 53, 0.3);
    border-radius: 10px;
}

.edit-input {
    margin-right: 5px;
    border: none;
    border-bottom: 1px solid rgba(53, 53, 53, 0.3);
    background: none;
    font-size: 16px;
    color: rgb(235, 235, 235);
    padding-left: 10px;
}

#logout {
    cursor: pointer;
}

#button-container {
    display: flex;
    justify-content: space-between;
}