<div class="container">
  <form [formGroup]="loginForm" (submit)="login()" id="login-form">
    <img src="../../../assets/angular.svg" alt="">
    <div id="email-group" class="login-form-group">
        <label for="email">E-postadress</label>
        <input formControlName="email" type="email" name="email" id="email">
    </div>
    <div id="password-group" class="login-form-group">
        <label for="password">Lösenord</label>
        <input formControlName="password" type="password" name="password" id="password">
    </div>
    <div id="button-group">
      <button class="button dark" type="submit" [disabled]="!loginForm.valid">Logga in</button>
      <div>
        Inte medlem? Registerera dig <a class="link-default" routerLink="/register">här</a>!
        <div *ngIf="incorrectCreds" class="warning">Du har angett fel e-postadress eller lösenord.</div>
      </div>
    </div>
  </form>
</div>